<div class="card">
    <div class="container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-card class="example-card">
                <div class="homeContaintButton">
                    <button mat-icon-button color="primary" (click)="home()">
                        <mat-icon>home</mat-icon>
                    </button>
                </div>
                <div class="row">

                    <div class="col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>User Id</mat-label>
                            <input matInput placeholder="Enter then user Id" formControlName="userId">
                            <mat-hint>Enter the userId</mat-hint>
                            <mat-error *ngIf="loginForm.get('userId')?.hasError('required')">userId is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">

                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput  type="password" placeholder="Enter the Password" formControlName="password">
                            <mat-hint>Enter the Password</mat-hint>
                            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">password is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <button mat-raised-button color="primary" type="submit">Submit</button>
                    </div>

                </div>
            </mat-card>
        </form>

    </div>
</div>