.card{
    top: 16%;
    border: none;
}
.example-card{
    text-align: center;
}
.homeContaintButton{
    text-align: end;

}
.example-full-width{
    padding-top: 40px;
}
.statusContent{
    padding-top: 40px;

}
