.example-card{
    text-align: center;
}
.formContaint{
padding-top: 100px;}
.buttonContain{
    text-align: center;
    top: 20px;
}
.homeContaintButton{
    text-align: end;

}
.statusContent{
    margin-top: 43px;
}