<div class="container">
    <div class="formContaint">
        <form [formGroup]="editTaskForm" (ngSubmit)="onSubmit()">
            <mat-card class="example-card">
                <div class="homeContaintButton">
                    <button mat-icon-button color="primary" (click)="home()">
                        <mat-icon>home</mat-icon>
                    </button>
                </div>
                <div class="row">

                    <div class="col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="Enter then Title" formControlName="title">
                            <mat-hint>Enter the Title</mat-hint>
                            <mat-error *ngIf="editTaskForm.get('title')?.hasError('required')">Title is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">

                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <input matInput placeholder="Enter the Description" formControlName="description">
                            <mat-hint>Enter the Description</mat-hint>
                            <mat-error *ngIf="editTaskForm.get('description')?.hasError('required')">Description is required</mat-error>

                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <h2>additional task information</h2>
                    </div>
                    <div class="col-sm-6">

                        <mat-form-field>
                            <mat-label>Choose a start date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="startDate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="editTaskForm.get('startDate')?.hasError('required')">Start Date is required</mat-error>
                            <mat-error *ngIf="editTaskForm.get('startDate')?.hasError('invalidDate')">Invalid Date</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">

                        <mat-form-field>
                            <mat-label>Choose a due date</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="dueDate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="editTaskForm.get('dueDate')?.hasError('required')">due Date is required</mat-error>
                        </mat-form-field>
                        <mat-error *ngIf="errorMessage" class="errorMessage">{{ errorMessage }}</mat-error>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="statusContent">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status">
                                <mat-option *ngFor="let status of statuses" [value]="status.value">
                                    {{status.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="editTaskForm.get('status')?.hasError('required')">Status is required</mat-error>

                        </mat-form-field>
                    </div>
                    <div class="col-sm-12" class="buttonContain">
                        <button mat-raised-button color="primary" type="submit">update</button>
                    </div>

                </div>
            </mat-card>
        </form>
    </div>
</div>